<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerController</key>
	<dict>
		<key>ip</key>
		<string>192.168.0.6</string>
		<key>port</key>
		<string>6000</string>
	</dict>
	<key>currentSelect</key>
	<integer>1</integer>
	<key>展厅1</key>
	<dict>
		<key>count</key>
		<string>7</string>
		<key>展项1</key>
		<dict>
			<key>name</key>
			<string>展项</string>
			<key>icon</key>
			<string>右字-17.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项2</key>
		<dict>
			<key>name</key>
			<string>电文</string>
			<key>icon</key>
			<string>右字-18.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>媒体服务器</string>
					<key>ip</key>
					<string>192.168.0.55</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<false/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项3</key>
		<dict>
			<key>name</key>
			<string>814空战</string>
			<key>icon</key>
			<string>右字-12.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>媒体服务器</string>
					<key>ip</key>
					<string>192.168.0.51</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<true/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>投影上</string>
					<key>ip</key>
					<string>192.168.0.43</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector2</key>
				<dict>
					<key>name</key>
					<string>投影中</string>
					<key>ip</key>
					<string>192.168.0.42</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector3</key>
				<dict>
					<key>name</key>
					<string>投影下</string>
					<key>ip</key>
					<string>192.168.0.41</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项4</key>
		<dict>
			<key>name</key>
			<string>罗店血肉磨坊</string>
			<key>icon</key>
			<string>右字-11.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>媒体服务器</string>
					<key>ip</key>
					<string>192.168.0.52</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<true/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>投影左</string>
					<key>ip</key>
					<string>192.168.0.44</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector2</key>
				<dict>
					<key>name</key>
					<string>投影中</string>
					<key>ip</key>
					<string>192.168.0.45</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
				<key>projector3</key>
				<dict>
					<key>name</key>
					<string>投影右</string>
					<key>ip</key>
					<string>192.168.0.46</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项5</key>
		<dict>
			<key>name</key>
			<string>宝山城血战</string>
			<key>icon</key>
			<string>右字-15.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>幻影成像</string>
					<key>ip</key>
					<string>192.168.0.56</string>
					<key>canplay</key>
					<true/>
					<key>canstop</key>
					<true/>
					<key>canpoweron</key>
					<false/>
					<key>canpoweroff</key>
					<false/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>projector1</key>
				<dict>
					<key>name</key>
					<string>投影</string>
					<key>ip</key>
					<string>192.168.0.47</string>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>展项6</key>
		<dict>
			<key>name</key>
			<string>正义的胜利</string>
			<key>icon</key>
			<string>右字-16.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>媒体服务器</string>
					<key>ip</key>
					<string>192.168.0.54</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<false/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>展项7</key>
		<dict>
			<key>name</key>
			<string>淞沪英雄</string>
			<key>icon</key>
			<string>右字-13.png</string>
			<key>computers</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>computer1</key>
				<dict>
					<key>name</key>
					<string>拼接服务器</string>
					<key>ip</key>
					<string>192.168.0.53</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
				<key>computer2</key>
				<dict>
					<key>name</key>
					<string>融合服务器</string>
					<key>ip</key>
					<string>192.168.0.57</string>
					<key>canplay</key>
					<false/>
					<key>canstop</key>
					<false/>
					<key>canpoweron</key>
					<true/>
					<key>canpoweroff</key>
					<true/>
					<key>cancontrolvol</key>
					<false/>
				</dict>
			</dict>
			<key>projectors</key>
			<dict>
				<key>count</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
